footer{
  background:#080808;
}
#navegacion{
    background: #080808;
}
#color{
  background-image: url("https://i.pinimg.com/originals/21/e8/7e/21e87e501e1dec05b854ac67d8d0e45d.png");
}

#fondo{
    background:white ;
    padding: 20px;
    border: #080808 5px solid;


}
#fondo1{
    background:white ;
    padding: 20px;
    border-top: #080808 5px solid;
    border-left: #080808 5px solid;
    border-bottom: #080808 5px solid;
}
#control{
  padding:;
  text-align: center;
  margin: ;
}
img{
  padding-top: 30px;
}
#linea{
  background: #080808;
}
body{
  background-image: url("https://i.pinimg.com/originals/21/e8/7e/21e87e501e1dec05b854ac67d8d0e45d.png");
}
