<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="{{ url_for('static', filename ='js/Componet/juego.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/Componet/inicio.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/Componet/contacto.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/diseño.css') }}">


<body>

<div id="app">

    <div class="container-fluid text-center">
        <center>
            <img class="img img-responsive text-center" src="{{ url_for('static', filename ='css/Captura.PNG') }}"
                 height="150">
            <center>
    </div>
    <br>
    <nav class="navbar navbar-inverse" id="navegacion">
        <div class="container-fluid ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Gaming++</a>
            </div>
            <div class="collapse navbar-collapse " id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a @click="cambiarPanel(0)" class="font-weight-bold"> Inicio </a></li>
                    <li><a @click="cambiarPanel(1)" class="font-weight-bold">¿Quienes somos?</a></li>
                    <li><a @click="cambiarPanel(2)" class="font-weight-bold"> Contacto </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" action="">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" v-model="busqueda"
                                   @keyup.enter="buscar(busqueda)" id="busqueda">
                        </div>
                        <button type="submit" class="btn btn-primary" @click="buscar(busqueda)">Submit</button>
                    </form>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Cuenta </a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Salir </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <span v-if="panel === 0">
      <div class="container-fluid" id="">
        <div class="row">
          <div class="col-sm-1 sidenav hidden-xs " id="color">

          </div>
          <div class="col-sm-2 sidenav hidden-xs " id="fondo1">
            <ul class="nav nav-pills nav-stacked " id="control">
              <li :class="a1"><a @click="cambiarPestaña(0)">Tienda</a></li>
              <li :class="a2"><a @click="cambiarPestaña(1)"> My Library </a></li>
              <li :class="a3"><a @click="cambiarPestaña(2)"> Trending </a></li>
              <li :class="a4"><a @click="cambiarPestaña(3)">Recomendados</a></li>
            </ul>
          </div>
          <div class="col-sm-8 col-lg-8" id="fondo">
            <div class="container" id="conjuego">
              <div class="row" v-if="j === 0">
                    <span v-if="p === 0">
                      <div v-for="x of juegosTienda">
                        <juego :nombre="x.nombre" :imagen="x.imagen" :descripcion="x.descripcion" :url="x.nombre"></juego>
                      </div>
                    </span>

                    <span v-if="p === 1">
                      <div v-for="x of libreria">
                        <juego :nombre="x.nombre" :imagen="x.imagen" :descripcion="x.descripcion"></juego>
                      </div>
                    </span>

                    <span v-if="p === 2">
                      <div v-for="x of trending">
                        <juego :nombre="x.nombre" :imagen="x.imagen" :descripcion="x.descripcion"></juego>
                      </div>
                    </span>
                    <span v-if="p === 3">
                      <div v-for="x of recomendados">
                          <juego :nombre="x.nombre" :imagen="x.imagen" :descripcion="x.descripcion"></juego>
                      </div>
                    </span>
                    <span v-if="p === 4">
                      <div v-for="x of juegosTienda">
                        <span v-if="busqueda === x.nombre">
                        <juego :nombre="x.nombre" :imagen="x.imagen" :descripcion="x.descripcion"></juego>
                        </span>
                      </div>
                    </span>
              </div>

            </div>
        </div>

      </div>
      </div>
    </span>
    <span v-if="panel === 1">
      <inicio></inicio>
    </span>
    <span v-if="panel === 2">
      <contacto></contacto>
    </span>
    <br>
    <footer class="container-fluid text-center">
        <br>
    </footer>


</div>
<script src="{{ url_for('static',filename='js/Vue/instancia.js') }}"></script>
</body>
</html>
