<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script>

    <script src="{{ url_for('static', filename ='js/Juegos/penguin/scripts/sketch.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/Juegos/penguin/scripts/penguin.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/Juegos/penguin/scripts/obstacle.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/Juegos/penguin/scripts/board.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/Juegos/penguin/scripts/defeat.js') }}"></script>

</head>

<body>
</body>

</html>