<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Juego llorona">
		<meta name="keywords" content="canvas colisiones jquery ajax">
		<meta name="author" content="Alejandro Daza">
		<title>Snake</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="js/Juegos/snake/estilos/default.css") }}" media="screen">
		<script src="{{ url_for("static", filename="js/Juegos/snake/js/jquery-1.11.0.min.js") }}"></script>
        <script src="{{ url_for("static", filename="js/Juegos/snake/js/quica.js") }}"></script>
        <script src="{{ url_for("static", filename="js/Juegos/snake/js/calaca.js") }}"></script>
        <script src="{{ url_for("static", filename="js/Juegos/snake/js/script.js") }}"></script>



	</head>
	<body>
		<section>
			<canvas id="mi_canvas" width="640" height="480">
				Tu navegador no es compatible
			</canvas>
		</section>
		<section>
			<div id="popup" style="display: none;">
				<div class="content-popup">
					<div class="close"><a href="#" id="close"><img src="{{ url_for("static", filename="js/Juegos/snake/imagenes/close.png") }}"/></a></div>
					<div>
					   <h2>Teclas de juego</h2>
					   <img src="{{ url_for("static", filename="js/Juegos/snake/imagenes/teclado.png") }}"/>
					   <h2>Creditos</h2>
					   <p>Kevin Malaver</p>
						<p>Universidad Distrital</p>
						<p>Ingenieria de Sistemas</p>
					</div>
				</div>
			</div>
			<h1>Snake</h1>
			<button id="instrucciones">Ver Instrucciones</button><br>
			<button id="iniciar">Iniciar</button>
		</section>
		<audio id="pierde">
			<source src="{{ url_for("static", filename="js/Juegos/snake/sonidos/Fondo.ogg") }}" type="audio/ogg">
            <source src="{{ url_for("static", filename="js/Juegos/snake/sonidos/Fondo.mp3") }}" type="audio/mpeg">
            <source src="{{ url_for("static", filename="js/Juegos/snake/sonidos/Fondo.wav") }}" type="audio/wav">
			Tu navegador no es compatible
		</audio>

		<img id="abajo" src="{{ url_for("static", filename="js/Juegos/snake/imagenes/snake.png") }}"/>
		<img id="arriba" src="{{ url_for("static", filename="js/Juegos/snake/imagenes/snake.png") }}"/>
		<img id="salto" src="{{ url_for("static", filename="js/Juegos/snake/imagenes/snake.png") }}"/>
		<img id="sentado" src="{{ url_for("static", filename="js/Juegos/snake/imagenes/snake.png") }}"/>
		<img id="calaca_1" src="{{ url_for("static", filename="js/Juegos/snake/imagenes/manzana.png") }}"/>
		<img id="calaca_2" src="{{ url_for("static", filename="js/Juegos/snake/imagenes/carro2.png") }}"/>


	</body>
</html>
